.outer {
    width: 80vw;
    height: 70vh;
    overflow: hidden;
    .heading {
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
        padding: 10px;
        margin: 20px;
        text-transform: uppercase;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0 auto;
        .listItem {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            border: 1px solid #ccc;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain; /* Maintain aspect ratio */
              }
        }
    }
}


